body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.navigationBar {
  width: auto;
  height: 200px;
  background-color: rgb(0, 0, 0);
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.active {
  background-color: #0bb162;
  width: 180px;
  height: 55px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: fantasy;
  margin-top: 35px;
  transition: all 0.5s;
}
.navigationBar a:hover {
  text-decoration: underline;
  font-size: x-large;
  transition: all 0.4s;
}
.navigationBar h1 {
  text-decoration: underline;
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: fantasy;
  font-size: 50px;
}

/*shop content(div product container)*/
/* .shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1.5rem;
  background-color: aquamarine;
}
.product-box {
  width: 250px;
  height: 500px;
  background-color: aqua;
} */

.image-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  width: 100%;
}
.image-container img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

/* Contact form */
.form-location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 50px;
}
.container-form input {
  margin: 5px 0px;
  height: 35px;
  width: 280px;
  padding: 7px;
}
.container-form button {
  background-color: #0bb162;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
}
.container-form button:hover {
  background-color: #a0f498;
  color: #333;
  border-radius: 50px;
}

.Forgotten-password {
  font-size: small;
}

.container-form input[type="submit"] {
  background-color: #0bb162;
  width: 100%;
  transition: all 0.5s;
  border: none;
}
.container-form input[type="submit"]:hover {
  background-color: #a0f498;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 15px;
}
.countryCodeSelection{
  width: 20px;
}
