body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: fantasy;
}
.navigationBar {
  width: auto;
  height: 200px;
  background-color: rgb(0, 0, 0);
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.active {
  background-color: #0bb162;
  width: 180px;
  height: 55px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: fantasy;
  margin-top: 35px;
  transition: all 0.5s;
}
.navigationBar a:hover {
  text-decoration: underline;
  font-size: x-large;
  transition: all 0.4s;
}
.navigationBar h1 {
  text-decoration: underline;
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 50px;
}

#userName {
  width: 100%;
  height: 100px;
}
#userName div {
  float: right;
  height: 100px;
  margin-right: 10px;
}

/* Product page */

.background_img {
  width: 70%;
  float: left;
  margin: 20px 0;
}
.background_img2 {
  float: right;
  width: 50%;
  margin: 20px 0;
}
.h2-1 {
  float: right;
  width: 30%;
  height: 776px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2-2 {
  float: left;
  width: 50%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-heading-img {
  display: inline-block;
  margin-top: 20px;
}

.image-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: transform 0.5s ease;
  overflow-x: scroll;

  padding: 25px;
}

.product-box {
  margin-right: 10px;
  width: 400px;
  height: auto;
  cursor: pointer;
}

.product-box img {
  max-width: 400px;
  height: auto;
}

.product-box p {
  font-size: small;
}

.product-box span {
  font-weight: 550;
}

.parentDiv {
  background-color: #87c2a6;
  width: 100%;
  display: flex;
}

.child1 {
  background-color: #41584e;
  width: 50%;
}

.child2 {
  background-color: #19422f;
  width: 50%;
}
.chilTwoAndOne {
  display: flex;
  justify-content: ;
  align-items: center;
}

.mainImg {
  background-color: #03f88e;
  width: 600px;
  height: auto;
}

.optinalImg {
  background-color: #03f80f;
  width: 100%;
  height: 100px;
}

.button-24 {
  background: #0bb162;
  border: 1px solid #0bb162;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: all 0.3s;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #0bb162;
  transition: all 0.3s;
}

.button-24:active {
  opacity: 0.5;
}

.End-Bar {
  background-color: rgb(32, 32, 32);
  margin: 100px 0px 25px;
  width: 100%;
  height: 40vh;
  display: flex;
}

.End-Bar div {
  width: 25%;
  border: #333 2px solid;
  padding: 30px;
  color: white;
}

.container-new-product {
  width: 70%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 30px black;
  border-radius: 10px;
  z-index: 100;
}
.img-new-product {
  width: 50%;
  height: 60vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-new-product {
  width: 50%;
  height: 60vh;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail-new-product input {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 0px;
  border-bottom: 1px solid black;
}

/* Contact form */
.form-location {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.container-form input {
  margin: 5px 0px;
  height: 35px;
  width: 280px;
  padding: 7px;
}
.container-form button {
  background-color: #0bb162;
  height: 35px;
  width: 300px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: all 0.4s;
}
.container-form button:hover {
  background-color: #a0f498;
  color: #333;
  border-radius: 50px;
}

.Forgotten-password {
  font-size: small;
  float: right;
  text-decoration: none;
}

.container-form input[type="submit"] {
  background-color: #0bb162;
  width: 100%;
  transition: all 0.4s;
  border: none;
}
.container-form input[type="submit"]:hover {
  background-color: #a0f498;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 15px;
}
.countryCodeSelection {
  margin-top: 12px;
}

/* login page */

.login-form {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  width: 400px;
  height: auto;
  position: absolute;
  top: 35%;
  left: 35%;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  backdrop-filter: blur(10px);
  background-color: #57aa77;
  color: white;
}
.login-form label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 550;
}
.login-form input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 8px;
  border: none;
  font-weight: 500;
  background-color: #c6ffe6;
}

.login-form h1 {
  text-align: center;
  line-height: 42px;
  font-weight: 800;
}

.login-form div {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.login-form div a {
  font-size: small;
  text-decoration: none;
  color: rgb(10, 10, 248);
  font-weight: 400;
}
#submit {
  margin-top: 30px;
  height: 50px;
  cursor: pointer;
  font-weight: bolder;
}
